<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/styles/style.css"/>

</head>

<body>

<!-- header -->
<div class ="header"  th:replace="fragments/header :: myheader"></div>

<!-- body -->

<div class ="header"  th:replace="fragments/form :: form"></div>


<!-- display -->

<div class ="header"  th:replace="fragments/display :: display"></div>


</body>
</html>